{% extends 'drymekPheanstalkBundle::base.html.twig' %}

{% block header %}
    <h1>Pheanstalk Manager - jobs list</h1>
{% endblock %}

{% block breadcramb %}
    &raquo; <a href="{{ path('drymekPheanstalkBundle_tube') }}">home</a>
    &raquo; <a href="{{ path('drymekPheanstalkBundle_tubejobs', {'name':name}) }}">jobs</a>
{% endblock %}

{% block body %}
    <div>
        <div class="left">
            <h2>Jobs</h2>
            <table>
                <tbody>
                    {% for job in jobs %}
                        <tr class="{{ loop.index is odd ? 'odd' : 'even'}}" >
                            <td>
                                {{ job.id }}
                            </td>
                            <td>
                                {{ job.data }}
                            </td>
                            <td>
                                <a href="{{ path('drymekPheanstalkBundle_jobdelete', {'job_id': job.id, 'name': name}) }}">delete</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2">
                                No jobs found
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Data</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            </table>
            <div class="links">
                <a href="{{ path('drymekPheanstalkBundle_tubeput', {'name': name}) }}">put</a>
            </div>
        </div>
        <div class="right">
            {% render 'drymekPheanstalkBundle:Tube:tubeStats' with {'name': name} %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}
